html, body {
  overflow-x:hidden 
} 
body {
    /* margin: 0; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
  
  
  .header__background {
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    position: absolute;
    background: linear-gradient(60deg, #040b4b, #277c91); 
    overflow: hidden;
    z-index: -1;
  }
  .header__background:after {
    content: '';
    background: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
    width: 800%;
    position: absolute;
    top: -400%;
    right: -400%;
    height: 800%;
    opacity: 0.3;
    animation-name: rotate;
    animation-duration: 140s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .header__title {
    color: #fff;
    z-index: 2;
    display: inline-block;
  }
  .header__title h1 {
    font-size: 90px;
    font-weight: 900;
    margin: 0;
  }
  .header__title p {
    font-size: 1.5em;
    /* font-weight: 400; */
    margin: 10px 100px 10px 10px;
  }
  @-moz-keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @-webkit-keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @-o-keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  @keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  /* //// */
  body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #f8fbff00;
  color: #cdcdcd;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  margin-bottom: 5vw;
}

.menu-container a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #f4f7ffc8;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 60px;
  height: 8px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 2.25vw;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #cdcdcd;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
  .menu-container {
    width: 100%;
    
  }

  .menu-container a {
    color: white;
    
  }

  .menu-container input {
    display: none;
    
  }

  /* Burger menu */
  .menu-container span {
    display: none;
    
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
    
  }

  .menu li {
    padding: 0.5em 1em;
    margin-left: 0.8em;
    border: 0.05em solid white;
    border-radius: 0.15em;
  }
}



/* /// */

.entry{
  color: white;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px grey, 0 0 1px grey, 0 0 0.2px grey;
}



.description{
  color: white;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  margin: 1em 1em 1.6em 1em;
  text-shadow: 1px 1px 2px grey, 0 0 1px grey, 0 0 0.2px grey;
  text-align: center;
}
.description2{
  color: white;
  font-size: 1.5vw;
 
  list-style-position: inside;
  text-shadow: 1px 1px 2px grey, 0 0 1px grey, 0 0 0.2px grey;
  text-align: center;
}


.glass{
  background: rgba( 255, 255, 255, 0.01 );
  box-shadow: 0 1px 1px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14px );
  -webkit-backdrop-filter: blur( 14px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 80%;
  height:fit-content;
  margin: auto;
  
}


.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  border-radius: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}





.center{
  display: flex;
  justify-content: center;
}


.custom-btn {
  width: 25vw;
  height: 4vw;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size: 2vw;
  
}
.custom-btn2 {
  width: 20vw;
  height: 2vw;
  
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: rgb(223, 222, 222);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size: 2vw;
  
}

/* 16 */
.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}